//----------------------------------------------------//
//                                                    //
//            //     Style Général     //             //
//                    reset.scss                      //
//----------------------------------------------------//
/*////[HTML]
________________________________________________________*/
html {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
  }
/*////[INTERFACE ET FOOTER]
________________________________________________________*/
  div.interface, footer {
    margin-left: auto;
    margin-right: auto;
  }

  