html {
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: var(--noir);
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--noir);
}

div.interface {
    background-image: url(../01_Images/qr_large_background.jpg);
    background-size: cover;
}

