/*////[VARIABLES]
________________________________________________________*/

:root {
    /* VARIABLES DES COULEURS*/
    --cyan: hsl(173, 100%, 50%);
    --gris: hsl(0, 0%, 23%);
    --noir: hsl(0, 0%, 0%);
    --blanc: hsl(0, 0%, 100%);
    --magenta: hsl(343, 100%, 50%);
    --translucide: hsla(0, 0%, 100%, 0.25);

    /* VARIABLES DES FONTS*/
    --exo: 'Exo', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --marker: 'Permanent Marker', cursive;
}