/*////[FOOTER]
________________________________________________________*/
footer {
    display: flex;
    flex-flow: row nowrap;
    background-image: url(../01_Images/glitch_background.jpg);
    background-size: cover;
    height: 26.25em;
    color: var(--blanc);
    padding-left: 9em;

    & div.info {
        display: flex;
        flex-flow: column;

        & img {
            width: 6em;
            margin: {
                top: 2em;
                left: 7em;
            }            
        }

        & div {
            margin-top: 1.5em;
        }

        & div.adresse, div.ville, div.tel, div.courriel{
            margin-left: 7em;
        }

        & div.reseau {
            margin-left: 7em;
            margin-top: 3em;
        }
    }
}