/*////[VARIABLES]
________________________________________________________*/
:root {
  /* VARIABLES DES COULEURS*/
  --cyan: hsl(173, 100%, 50%);
  --gris: hsl(0, 0%, 23%);
  --noir: hsl(0, 0%, 0%);
  --blanc: hsl(0, 0%, 100%);
  --magenta: hsl(343, 100%, 50%);
  /* VARIABLES DES FONTS*/
  --exo: 'Exo', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --marker: 'Permanent Marker', cursive;
}

/*////[MIXINS]
________________________________________________________*/
/*////[RESET]
________________________________________________________*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  font-size: 20px;
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  color: var(--noir);
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--noir);
}

/*////[SLICK.JS]
________________________________________________________*/
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*////[GRILLE DESKTOP]
________________________________________________________*/
body {
  display: -ms-grid;
  display: grid;
}

/*////[HEADER]
________________________________________________________*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 4em;
  background-image: url(../01_Images/glitch_background.jpg);
  background-size: cover;
  color: var(--blanc);
}

header div.social {
  margin-top: auto;
  margin-bottom: 5em;
  margin-left: 5em;
  width: 20%;
}

header div.logo {
  width: 40%;
}

header p {
  width: 20%;
  margin: auto;
  margin-right: 15em;
}

header p::before {
  display: inline-block;
  content: "";
  width: 2.5em;
  height: 5px;
  background-color: var(--cyan);
  margin-right: 1em;
  margin-bottom: 0.25em;
  margin-left: 1em;
}

/*////[NAVIGATION]
________________________________________________________*/
nav {
  width: 100%;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../01_Images/glitch_background.jpg);
  background-size: cover;
  background-position: center;
  color: var(--blanc);
  position: fixed;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul.liens {
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.5em;
}

nav ul.parametre {
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2.5em;
}

nav ul.parametre li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

nav ul.parametre li ul.langue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

nav ul.parametre a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul a {
  color: var(--blanc);
}

nav ul a:hover {
  color: var(--cyan);
}

/*////[A PROPOS]
________________________________________________________*/
section.aPropos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 25.5em;
  padding-top: 3em;
  padding-left: 16em;
  background-image: url(../01_Images/qr_small_background.jpg);
  background-size: cover;
  z-index: -1;
}

section.aPropos div.txt_aPropos h2 {
  font-family: var(--raleway);
  color: var(--cyan);
  font-size: 2.5em;
  font-weight: bolder;
  color: var(--noir);
}

section.aPropos div.txt_aPropos p {
  margin-top: 1em;
  width: 80%;
}

section.aPropos img {
  display: block;
  margin-right: 20em;
  margin-top: 3em;
  height: 18.5em;
}

/*////[CAROUSEL]
________________________________________________________*/
section.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: var(--gris);
  color: var(--blanc);
  height: 22.5em;
}

section.carousel div.txt_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 40%;
  margin-top: 5em;
  margin-left: 15em;
}

section.carousel div.txt_carousel h2 {
  font-family: var(--raleway);
  color: var(--cyan);
  font-size: 2.5em;
  font-weight: bolder;
}

section.carousel div.txt_carousel p {
  width: 60%;
  padding-left: 1em;
  margin-top: 1em;
}

section.carousel div.txt_carousel a.btn {
  background-color: var(--noir);
  color: var(--blanc);
  border: 1px solid var(--magenta);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 10em;
  text-align: center;
  margin-left: 1em;
  margin-top: 1em;
}

section.carousel div.gallerie_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 60%;
}

section.carousel div.gallerie_carousel div.num_carousel {
  margin-top: 2em;
  margin-bottom: -2em;
}

section.carousel div.gallerie_carousel div.num_carousel span {
  color: var(--magenta);
  margin-left: 0.25em;
  font-size: 1.5em;
}

section.carousel div.gallerie_carousel div.num_carousel a {
  font-family: var(--marker);
  font-size: 2em;
  color: var(--blanc);
  margin-left: 0.25em;
}

section.carousel div.gallerie_carousel div.img_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

section.carousel div.gallerie_carousel div.img_carousel img {
  display: block;
  width: 290px;
  height: 290px;
  margin: 0.5em;
}

/*////[COMMANDE]
________________________________________________________*/
section.commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17em;
}

section.commande div.comment {
  background-image: url(../01_Images/glitch_white_background.jpg);
  background-size: cover;
  border: 2px solid var(--gris);
  height: 100%;
  padding-left: 8em;
}

section.commande div.comment h2 {
  font-family: var(--raleway);
  color: var(--cyan);
  font-size: 2.5em;
  font-weight: bolder;
  color: var(--noir);
  margin-left: 2.8em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

section.commande div.comment div.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70%;
  margin-left: 8em;
}

section.commande div.comment div.instructions div.etapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

section.commande div.comment div.instructions div.etapes img {
  width: 2.25em;
}

section.commande div.comment div.instructions div.etapes p {
  width: 80%;
  margin-left: 1em;
}

section.commande div.admissible {
  background-color: var(--gris);
  height: 100%;
  border-top: 2px solid var(--gris);
  border-bottom: 2px solid var(--gris);
  color: var(--blanc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15.5em;
}

section.commande div.admissible h2 {
  font-family: var(--raleway);
  color: var(--cyan);
  font-size: 2.5em;
  font-weight: bolder;
  font-size: 2em;
  width: 10em;
  margin-bottom: 0.25em;
  margin-left: 1.25em;
}

section.commande div.admissible p {
  width: 60%;
  margin-left: 2.5em;
}

section.commande div.admissible input {
  background-color: var(--noir);
  color: var(--blanc);
  border: 1px solid var(--cyan);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  width: 20em;
  margin-left: 2.5em;
  margin-top: 0.5em;
}

section.commande div.admissible input::-webkit-input-placeholder {
  color: var(--blanc);
  font-family: var(--exo);
  text-transform: uppercase;
}

section.commande div.admissible input:-ms-input-placeholder {
  color: var(--blanc);
  font-family: var(--exo);
  text-transform: uppercase;
}

section.commande div.admissible input::-ms-input-placeholder {
  color: var(--blanc);
  font-family: var(--exo);
  text-transform: uppercase;
}

section.commande div.admissible input::placeholder {
  color: var(--blanc);
  font-family: var(--exo);
  text-transform: uppercase;
}

section.commande div.admissible a.btn {
  background-color: var(--noir);
  color: var(--blanc);
  border: 1px solid var(--magenta);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 10em;
  text-align: center;
  width: 5em;
  margin-top: 1em;
  margin-left: 2.5em;
}

/*////[FOOTER]
________________________________________________________*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-image: url(../01_Images/glitch_background.jpg);
  background-size: cover;
  height: 26.25em;
  color: var(--blanc);
  padding-left: 9em;
}

footer div.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

footer div.info img {
  width: 6em;
  margin-top: 2em;
  margin-left: 7em;
}

footer div.info div {
  margin-top: 1.5em;
}

footer div.info div.adresse, footer div.info div.ville, footer div.info div.tel, footer div.info div.courriel {
  margin-left: 7em;
}

footer div.info div.reseau {
  margin-left: 7em;
  margin-top: 3em;
}

footer div.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 3em;
  margin-left: auto;
  margin-right: 21em;
}

footer div.question h2 {
  font-family: var(--raleway);
  color: var(--cyan);
  font-size: 2.5em;
  font-weight: bolder;
}

footer div.question input.coordonees, footer div.question input.message {
  background-color: var(--noir);
  color: var(--blanc);
  border: 1px solid var(--cyan);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  width: 20em;
  margin-left: 1em;
  margin-top: 1em;
}

footer div.question input.coordonees::-webkit-input-placeholder, footer div.question input.message::-webkit-input-placeholder {
  color: var(--blanc);
  font-family: var(--exo);
  text-transform: uppercase;
}

footer div.question input.coordonees:-ms-input-placeholder, footer div.question input.message:-ms-input-placeholder {
  color: var(--blanc);
  font-family: var(--exo);
  text-transform: uppercase;
}

footer div.question input.coordonees::-ms-input-placeholder, footer div.question input.message::-ms-input-placeholder {
  color: var(--blanc);
  font-family: var(--exo);
  text-transform: uppercase;
}

footer div.question input.coordonees::placeholder, footer div.question input.message::placeholder {
  color: var(--blanc);
  font-family: var(--exo);
  text-transform: uppercase;
}

footer div.question input.message {
  height: 5em;
}

footer div.question input.message::-webkit-input-placeholder {
  position: relative;
  top: -1.5em;
}

footer div.question input.message:-ms-input-placeholder {
  position: relative;
  top: -1.5em;
}

footer div.question input.message::-ms-input-placeholder {
  position: relative;
  top: -1.5em;
}

footer div.question input.message::placeholder {
  position: relative;
  top: -1.5em;
}

footer div.question a.btn {
  background-color: var(--noir);
  color: var(--blanc);
  border: 1px solid var(--magenta);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 10em;
  text-align: center;
  margin-top: 1em;
  margin-left: 1em;
  width: 6em;
}

/*////[ITEM LISTE]
________________________________________________________*/
/*////[OUVERTURE]
________________________________________________________*/
section.ouverture {
  height: 22.5em;
  background-image: url(../01_Images/stripe_background.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.ouverture h2 {
  font-family: var(--raleway);
  color: var(--cyan);
  font-size: 2.5em;
  font-weight: bolder;
  background-color: var(--noir);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 3px solid var(--magenta);
  margin-left: -2.75em;
}

section.ouverture div.heures {
  width: 21em;
  background-color: var(--noir);
  color: var(--blanc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 1em;
  margin-left: -3.75em;
  font-size: 1.7em;
}

section.ouverture div.heures div {
  margin: 0.5em;
  text-align: center;
}

section.ouverture div.heures div span:last-of-type {
  margin-left: 1em;
}

section.ouverture div.heures div:nth-of-type(1) {
  margin-left: 2em;
}

section.ouverture div.heures div:nth-of-type(2) {
  margin-left: 2.4em;
}

section.ouverture div.heures div:nth-of-type(3) {
  margin-left: 3em;
}

section.ouverture div.heures div:nth-of-type(4) {
  margin-left: -2.6em;
}

/*////[PRODUIT]
________________________________________________________*/
/*////[PROMOTION]
________________________________________________________*/
section.promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 23.5em;
}

section.promotion div.txt_promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-left: 15em;
}

section.promotion div.txt_promotion h2 {
  font-family: var(--raleway);
  color: var(--cyan);
  font-size: 2.5em;
  font-weight: bolder;
  color: var(--noir);
}

section.promotion div.txt_promotion p {
  width: 75%;
  margin-left: 1em;
}

section.promotion div.txt_promotion a.btn {
  background-color: var(--noir);
  color: var(--blanc);
  border: 1px solid var(--magenta);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 10em;
  text-align: center;
  margin-left: 1em;
  margin-top: 0.5em;
}

section.promotion img {
  margin-right: 23em;
}

/*////[SUGGESTION]
________________________________________________________*/
/*////[RESEAU]
________________________________________________________*/
div.reseau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 25em;
  margin: auto;
}

div.reseau div.plateforme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  margin-top: 0.5em;
}

div.reseau div.plateforme a {
  color: var(--cyan);
}

div.reseau div.question h2 {
  font-family: var(--raleway);
  color: var(--cyan);
  font-size: 2.5em;
  font-weight: bolder;
}

/*////[FAQ]
________________________________________________________*/
/*////[TITRE]
________________________________________________________*/
/*////[FIL D'ARIANE]
________________________________________________________*/
div.ariane {
  margin-top: 5.1em;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 5.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../01_Images/off-white_background.jpg);
  background-size: cover;
  color: var(--blanc);
  font-size: .75em;
}

div.ariane a {
  color: var(--blanc);
}

div.ariane span:first-of-type {
  vertical-align: bottom;
}

/*////[LOGIN]
________________________________________________________*/
/*# sourceMappingURL=style.css.map */