/*////[DASHBOARD]
________________________________________________________*/
div.dashboard {
    padding: 2em;
    color: var(--blanc);
    width: 70%;

    & a {
        color: var(--blanc);
    }

    & h1 {
        color: var(--blanc);
        font-family: var(--raleway);
        font-weight: bolder;
        font-size: 1.5em;
        margin-bottom: 2em;
    }

    & div.accueilContenu {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15em 15em;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}