/*////[POPUP]
________________________________________________________*/
div.interfacePopup {
    width: 50em;
    display: block;
    background-color: var(--blanc);
    position: fixed;
    top: 20%;
    left: 25%;

    & div.popup {
        display: flex;
    }

    & img {
        height: 600px;
    }

    & div.popupText {
        padding: 2em;
        display: flex;
        flex-flow: column;
        & h1 {
            @include titre;
            color: var(--noir);
        }
        
        & p{
            width: 80%;
            margin-top: 2em;
        }

        & a.btn {
            @include bouton;
            margin-top: 1.5em;
        }
    }

    & a.popupClose {
        position: relative;
        top: -1.25em;
        right: -1.25em;
        & span {
            font-size: 2.5em;
            color: var(--blanc);
            background-color: var(--noir);
            border-radius: 50%;
            padding: 0.1em;
        }
    }
    
}

.close {
    display: none;
}
